.predidosContainer {
    margin: 0 auto;
    width: fit-content;
    height: auto;
    border: 1px solid #000000;
    background-color: #EEE1E1;
    justify-content: center;
    border-radius: 40px;
    margin-top: 5px;
    margin-bottom: 40px;
}

.h1 {
    margin-bottom: 5px;
    justify-content: center;
    align-content: center;
    display: flex;
    flex: 1;
}

.h3 {
    margin-left: 15px;
    margin-right: 15px;
    justify-content: center;
    align-content: center;
    display: flex;
    flex: 1;
}

.InsideContainer {
    padding: 20px;
    width: fit-content;
    height: flex;
    margin: 0 auto;
    border-radius: 40px;
    display: flex;
    justify-content: center;
}

.clienteInfoContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(10px, auto);
    justify-content: center;
    gap: 8px;
    padding: 1em;
}

.i1 {
    grid-column: 1/4;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.i2 {
    grid-column: 1/3;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.i3 {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.i4 {
    grid-column: 1/3;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.i5 {
    grid-column: 3;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.i6 {
    grid-column: 1/3;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.i7 {
    grid-column: 3;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    justify-content: left;


}

.p1 {
    grid-column: 1/4;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.p2 {
    grid-column: 1/4;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.p3 {
    grid-column: 1/4;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.p4 {
    grid-column: 1/4;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.button {
    margin-bottom: 5px;
    justify-content: center;
    align-content: center;
    display: flex;
    flex: 1;
}