body {
  font: size 50px;
  font-weight: 400;
  line-height: 39px;
  margin: 0;
  position: relative;
  background-image: linear-gradient(180deg, #F39B9B 0%, rgba(247, 185, 185, 0.703125) 43.75%, rgba(248, 198, 198, 0.566406) 76.04%, rgba(255, 255, 255, 0.79) 100%); 
  
}

.RowFooter{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.MonteContainer{
  display: flex;
  justify-content: center;
}

.MonteColunaIngredientes {
  padding-right: 8em;
  min-width: 25em;
}

.FazerPedidoBTN{
  display: flex;
  align-items:center;
  justify-content:center;
  color: #7CE47A;
}

.CardResumo{
  width: 300px;
}


