.CardapioContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    padding: 2em;
}

.ConfirmarBTN{
    display: flex;
    align-items:center;
    justify-content:center;
    flex: 1;
    }